<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.12.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMOController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
	    <add name="MoyaAws1"
          connectionString=""
          providerName="System.Data.SqlClient" />
	</connectionStrings>
    <userSettings>
        <MMOController.Properties.Settings>
            <setting name="AWSAccessKey" serializeAs="String">
                <value>AKIAIVMW2EXR73KVKM3A</value>
            </setting>
            <setting name="AWSSecretKey" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="LauncherInterfacePort" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="GameInterfacePort" serializeAs="String">
                <value>8082</value>
            </setting>
            <setting name="BucketName" serializeAs="String">
                <value>omunionline</value>
            </setting>
            <setting name="FolderName" serializeAs="String">
                <value>GameDistro</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>tcp</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Server=54.200.207.187; Port=3306; Database=omunidev1; Uid=mmonode1; Pwd=3gem0X1csWIyx2*f7bQo;</value>
            </setting>
        </MMOController.Properties.Settings>
    </userSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="MatrixMaster.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{HH:mm:ss} %-5level [%logger{1}]: %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss} %-5level [%logger{1}]: %message%newline" />
      </layout>
    </appender>

  </log4net>
</configuration>
