<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MMOController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MMOController.Properties.Settings>
            <setting name="AWSAccessKey" serializeAs="String">
                <value>AKIAIVMW2EXR73KVKM3A</value>
            </setting>
            <setting name="AWSSecretKey" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="LauncherInterfacePort" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="GameInterfacePort" serializeAs="String">
                <value>8082</value>
            </setting>
            <setting name="BucketName" serializeAs="String">
                <value>omunionline</value>
            </setting>
            <setting name="FolderName" serializeAs="String">
                <value>GameDistro</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>tcp</value>
            </setting>
        </MMOController.Properties.Settings>
    </userSettings>
</configuration>
